<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fahasa.Properties.Settings.FahasaBookStoreConnectionString" connectionString="workstation id=FahasaBookStore.mssql.somee.com;packet size=4096;user id=tanpnse_SQLLogin_1;pwd=i94g48e67m;data source=FahasaBookStore.mssql.somee.com;persist security info=False;initial catalog=FahasaBookStore;Integrated Security=False" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>